body {
    font-family: 'Poppins', sans-serif;
    background-color: #c8acf0;
    color: #333;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 10px 20px;
    color: aliceblue;
    background-color: #ba52ee;
}

#mario-chat {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ccc;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

#chat-window {
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p {
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e0e0e0;
    color: #555;
}

.right {
    text-align: right;
}

#feedback p {
    color: #888;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong {
    color: #4caf50;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
    color: #555;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #f2f2f2;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
}

button {
    background: #4caf50;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 5px;
}
button::after {
    background: #3f405b;
}


